<div class="grid_12">
<div id="art_1_1" class="news_article_scroll row1">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_1_1"><img src="images/clint.JPG" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here. Title goes here. Title goes here. Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_1_2" class="news_article_scroll row1">					
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_1_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_1_3" class="news_article_scroll row1">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_1_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_1_4" class="news_article_scroll row1 last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_1_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_2_1" class="news_article_scroll">	
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_2_1"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_2_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_2_2"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_2_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_2_3"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_2_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_2_4"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_3_1" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_3_1"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_3_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_3_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_3_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_3_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_3_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_3_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_4_1" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_4_1"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_4_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_4_2"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_4_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_4_3"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_4_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_4_4"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_5_1" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_1"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_5_1" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_1"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_5_1" class="news_article_scroll l7">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_1"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
</div>
<div class="grid_12">
<div id="art_5_1" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_1"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_2" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_3" class="news_article_scroll">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_3"><img src="images/dems.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here. Title goes here.</div></a>
	</div>
</div> 
<div id="art_5_4" class="news_article_scroll last">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_5_4"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.Title goes here.</div></a>
	</div>
</div> 
</div>