<div class="grid_12">
{% for story in stories %}
<div id="art_1_1" class="news_article_scroll row1">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="art_{{ story.id }}">
			<img src="{% if story.img != '' %}{{ story.img }}{% else %}{% if story.source.img != '' %}/static/large_images/{{ story.source.img}}{% else %}/static/images/clint.JPG{% endif %}{% endif %}" alt="Alt text" title="title text" />
		<div class="article_title_title">{{ story.title }}</div></a>
	</div>
</div> 
{% endfor %}
<!-- 
<div id="art_1_2" class="news_article_scroll row1">					
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_1_2"><img src="images/gop.jpg" alt="Alt text" title="title text" />
		<div class="article_title_title">Title goes here. Title goes here. Title goes here. Title goes here.</div></a>
	</div>
</div>
 -->

</div
