<!DOCTYPE html>
<html>
<head>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>  
  
  <style type="text/css">
  
  body {
    background-color:#FCFCFC;
  }
  
  .container {
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	width:5000px;
	top: 150px;
	height: 800px;
	left: 30px;
	overflow-y:hidden;
  }
  
  .dems {
	position: relative;
	color: blue;
	width: 50px;
	background-color: #104887;
  }
  
  .reps {
  position: relative;
  width: 50px;
  background-color:#D11F43;
  }
  
  .content {
  position:relative;
  float:left;
  height:100%;
  width:20px;
  background-color:#FCFCFC;
  }
  
  .footer {
	  background-color:#FCFCFC;
	  color:#58595B;
	  font-family:Helvetica, Arial, "Sans Serif";
	  font-weight:bold;
	  text-transform:capitalize;
	  height:280px;
	  width:10px;
	  position:fixed;
	  top:10px;
	  left:0px;
  }
  
  a:link {
	  text-decoration:none;
	  font-weight:bold;
	  font-family:inherit;
	  color:#58595B;
  }
  
  a:visited {
	  text-decoration:none;
	  font-weight:bold;
	  font-family:inherit;
	  color:#A4A4A4;
  }
  
  a:hover {
	  text-decoration:none;
	  font-weight:bold;
	  font-family:inherit;
	  color:#A4A4A4;
  }

  </style>

</head>
<body onload="screenDim()" style="font-size:100%;">

  <!-- Header -->
  
  <img src="static/politoscape.png" style="position:fixed; left:30px; top:25px;" />
  
  <img src="static/logo_space.png" style="position:fixed; left:621px; top:25px;" />
  
  <img src="static/about.png" style="position:fixed; left:631px; top:25px;" />
  
  <img src="static/star1.png" style="position:fixed; left:703px; top:25px;" />
  
  <img src="static/team.png" style="position:fixed; left:714px; top:25px;" />
  
  <img src="static/star2.png" style="position:fixed; left:774px; top:25px;" />
  
  <img src="static/how.png" style="position:fixed; left:785px; top:25px;" />
  
  
  <!-- graph -->
  
  <!-- graph lines -->
  
<img src="static/pink_line.png" style="position:relative; left:25px; top:100px;"/>

<img src="static/pink_notch.png" id="notch" style="position:relative; top:80px; left:500px;">
  
  <!-- graph itself -->
  <div class="container">
 
    <!-- Dems -->
    <div class="dems" id="dem1" style="height:5%; float:left;"></div>
    <div class="content" id="dcontent1_2 }}">
		{% for entry in grouped_entries.0 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
 	</div>

 
    <div class="dems" id="dem2" style="height:10%; float:left;"></div>
    <div class="content" id="dcontent2_3">
		{% for entry in grouped_entries.1 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="dems" id="dem3" style="height:19%; float:left;"></div>
    <div class="content" id="dcontent3_4">
		{% for entry in grouped_entries.2 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="dems" id="dem4" style="height:26%; float:left;"></div>
    <div class="content" id="dcontent4_5">
		{% for entry in grouped_entries.3 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="dems" id="dem5" style="height:17%; float:left;"></div>
    <div class="content" id="dcontent5_6">
		{% for entry in grouped_entries.4 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="dems" id="dem6" style="height:11%; float:left;"></div>
    <div class="content" id="dcontent6_7">
		{% for entry in grouped_entries.5 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="dems" id="dem7" style="height:10%; float:left;"></div>
    <div class="content" id="dcontent7_8">
		<ul>
		{% for entry in grouped_entries.6 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    	</ul>
    </div>
  
    <!-- Reps -->
    <div class="reps" id="rep1" style="height:9%; float:left;"></div>
    <div class="content" id="rcontent1_2">
		{% for entry in grouped_entries.7 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep2" style="height:13%; float:left;"></div>
    <div class="content" id="rcontent2_3">
		{% for entry in grouped_entries.8 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep3" style="height:14%; float:left;"></div>
    <div class="content" id="rcontent3_4">
		{% for entry in grouped_entries.9 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep4" style="height:32%; float:left;"></div>
    <div class="content" id="rcontent4_5">
		{% for entry in grouped_entries.10 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep5" style="height:18%; float:left;"></div>
    <div class="content" id="rcontent5_6">
		{% for entry in grouped_entries.11 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep6" style="height:9%; float:left;"></div>
    <div class="content" id="rcontent6_7">
		{% for entry in grouped_entries.12 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
    <div class="reps" id="rep7" style="height:3%; float:left;"></div>
    <div class="content" id="rcontent7_8">
		{% for entry in grouped_entries.13 %}
  			<li>
				<a href="{{entry.feed.url}}">{{ entry.feed.name }}</a><br />
				<a href="{{ entry.url }}"> {{ entry.title }} </a><br />
				{{ entry.content|safe }}
    		</li>
    	{% endfor %}
    </div>
-->    
  </div>

  <!-- footer -->
  
  <div class="footer" id="footer">
    <!-- horizontal line -->
    <div style="background-color:#8B8B8B; height:1px; width:window.screen.availWidth;">
    
    <!-- About -->
    </div>
    <div id="leftfooter" style="position:relative; float:left; left:30px; width:600px; font-family:Gotham, Calibri, Helvetica, Arial, 'Sans Serif'">
      <p style="font-size:18px;"> About POLITOSCAPE: </p>
      <p style="font-size:13px; position:relative; top:-10px; line-height:18px;">The Politoscape is project created by Jonathan Allred, Jason Black, and George Ko of Harvard College. The team is based out of an Engineering Sciences class titled "Innovators Practice." The goal of the class is to engage in and contribute to the greater community of innovators that have been pusshing the limits of technology for the past century.</p>
    </div>
    
    <!-- Contact -->
    <div id="leftfooter" style="position:relative; float:left; left:100px; width:350px; font-family:Gotham, Calibri, Helvetica, Arial, 'Sans Serif'">
      <p style="font-size:18px; position:relative;">Contact us:</p>
      <p style="font-size:13px; position:relative; top:-10px; left:13px; line-height:18px;"><a href="mailto:jonnyallred@gmail.com">- Jonathan Allred</a><br>
<a href="mailto:jasondanielblack@gmail.com">- Jason Black</a><br>
<a href="mailto:georgeko@college.harvard.edu">- George Ko</a></p>
    </div>
    
    <!-- Flag -->
    <div id="photofooter" style="position:relative; float:right;">
      <img src="flag.png" style="position:relative; right:15px; top:18px; opacity:0.1; filter:alpha(opacity=10);" />
    </div>
  </div>

<script>
  $('.content').click(function() { 
    // get the width of the content box that was clicked on
    var contentWidth = $(this).width();
    if (contentWidth < 500)
	    {
			// expand the content divs
            $(this).animate({
	          width: '+=780',
            }, 500, function(){
          });
    
		  // if it is one of the democratic bar graph elements
		  if (this.id == "dcontent1_2" || this.id == "dcontent2_3" || this.id == "dcontent3_4" || this.id == "dcontent4_5" || this.id == "dcontent5_6" || this.id == "dcontent6_7" || this.id == "dcontent7_8")
		  {
		  	  // move notch right
			  $('#notch').animate({
				  left: '+=780px',
			  }, 500, function(){
			  });
		  }
        }
    else
    {
         $(this).animate({
		     width: '-=780',
	     }, 500, function(){
	     });
		 
		 // if it is one of the democratic bar graph elements 
		 if (this.id == "dcontent1_2" || this.id == "dcontent2_3" || this.id == "dcontent3_4" || this.id == "dcontent4_5" || this.id == "dcontent5_6" || this.id == "dcontent6_7" || this.id == "dcontent7_8")
		      // move notch left
			  $('#notch').animate({
				  left: '-=780px',
			  }, 500, function(){
			  });
    }
  });
</script>

<!-- Democratic height animations -->
<script>
	// sum the total number of sources in the democratic 
	for(var i in dColumns)
		var sum += dColumns[i];
	
	// calculate the percentage of each column
	for(var j in dColumns)
	{
		var percentage = [];
		percentage[j] = dColumns[j] / sum;
	}
	
	// use percentages to animate column height
	for(var k in dColumns)
	{
		$('#dcontent' + (k + 1) + "_" + (k+2)).animate({
			$(this).animate({
				height: 'percentage[k]%',
			}, 500, function() {
			});
		}
	}
</script>

<!-- Republican height animations -->
<script>
	// sum the total number of sources in the democratic 
	for(var i in rColumns)
		var sum += rColumns[i];
	
	// calculate the percentage of each column
	for(var j in rColumns)
	{
		var percentage = [];
		percentage[j] = rColumns[j] / sum;
	}
	
	// use percentages to animate column height
	for(var k in rColumns)
	{
		$('#rcontent' + (k + 1) + "_" + (k+2)).animate({
			$(this).animate({
				height: 'percentage[k]%',
			}, 500, function() {
			});
		}
	}
</script>

<script>

function screenDim() 
{
	// detect window height
	var screenHeight = window.screen.availHeight - 280;
	// alert(screenHeight);
	$('#footer').css({
		'top' : screenHeight
	});
	// document.getElementsById("footer").style.top = screenHeight;
	
	// detect window width
	var screenWidth = window.screen.availWidth
	$('#footer').css({
		width : screenWidth
	});
	// document.getElementsById("footer").style.width = screenWidth;
}

</script>


<!-- why did this not work
<script>

function screenDim() 
{
	// detect window height
	var screenHeight = window.screen.availHeight - 280;
	// document.getElementsById("footer").style.top = screenHeight;
	
	// detect window width
	var screenWidth = window.screen.availWidth
	document.getElementsById("footer").style.width = screenWidth;
}

</script>
-->


</body>
</html>