<div class="grid_12">
{% for story in headline %}
<div id="art_1_{{ forloop.counter }}" class="news_article_scroll row1 {% cycle '' '' '' 'last' %}">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="id-art_{{ story.id }}_1">
			<img src="{% if story.img != '' %}{{ story.img }}{% else %}{% if story.source.img != '' %}/static/large_images/{{ story.source.img}}{% else %}/static/images/clint.JPG{% endif %}{% endif %}" alt="Alt text" title="title text" />
		<div class="article_title_title">{{ story.title|safe }}</div></a>
	</div>
</div> 
{% endfor %}
</div>
<div class="grid_12">
{% for story in stories %}
<div id="art_2_{{ forloop.counter }}" class="news_article_scroll {% cycle '' '' '' 'last' %}">
	<div class="article_tile">
		<a href="#article-display" class="news-link" id="art_{{ story.id }}">
			<img src="{% if story.img != '' %}{{ story.img }}{% else %}{% if story.source.img != '' %}/static/large_images/{{ story.source.img}}{% else %}/static/images/clint.JPG{% endif %}{% endif %}" alt="Alt text" title="title text" />
		<div class="article_title_title">{{ story.title|safe }}</div></a>
	</div>
</div> 
{% endfor %}
</div>